<main class="d-flex justify-content-center mt-5">
    <div class="me-5" id="productImg">
        <img src="https://via.placeholder.com/500" class="card-img-top" alt="...">
    </div>
    <div id="Details">
        <div class="productName">
            <h1>Product Name</h1>
        </div>
        <div class="productPrice mt-3">
            <h2>Product Price</h2>
        </div>
        <div class="productDetails mt-5">
            <h3>Product Details</h3>
        </div>
    </div>
</main>