<main class="d-flex justify-content-start">
    {{#each vitamins as |vitamin| }}
    <div class="card mt-5 ms-5" style="width: 12rem;">
        <img src="https://via.placeholder.com/100" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{vitamin.label}}</h5>
            <p class="card-text">Natrually sourced and produced in the {{vitamin.origin}}.</p>
            <a href="/details" class="btn btn-primary">Buy Now ${{vitamin.price}}</a>
        </div>
    </div>
    {{/each}}
    {{!-- <script src="/public/js/product.js" async="" defer=""></script> --}}
</main>