<main class="d-flex justify-content-start">
    <div class="card mt-5 ms-5" style="width: 12rem;">
        <img src="https://via.placeholder.com/100" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="/details" class="btn btn-primary">Details</a>
        </div>
    </div>
</main>