<main class="d-flex justify-content-center">
    <form>
        <div class="mb-3">
            <label for="username-signup" class="form-input">Username</label>
            <input type="text" class="form-input" id="firstName-signup" aria-describedby="firstName">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="email-signup">Email address</label>
            <input type="email" class="form-input" id="email-signup" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password-signup" class="form-label">Password</label>
            <input type="password" class="form-input" id="password-signup">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script src="../public/js/signup.js" async="" defer=""></script>
</main>